.card-text{
    color: gray;
    
}
.card:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   transition: 1s;
   transform: scale(1.05);
}
.seals-container{

display: grid;
grid-template-columns: 1fr  1fr 1fr 1fr;
grid-gap: 15px;
padding: 30px;

}
.card{
    border: none;
}

@media only screen and (max-width: 600px){
    .seals-container{
        display: grid;
        grid-template-columns: repeat(2,.5fr);
        grid-gap: 15px;
        padding: 30px;
        
        }
}