.card-container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding: 20px;

}
@media only screen and (max-width: 600px) {
    .card-container2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       padding: 20px;
    }
  }